<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Gamevis</title>

	<link rel="stylesheet" href="dist/css/style.css">
	<link rel="stylesheet" href="dist/components/selectize/dist/css/selectize.bootstrap3.css">

	<!-- Main dependencies -->
	<script type="text/javascript">
		window.$ = window.jQuery = require('./dist/components/jquery/dist/jquery.js');
	</script>

	<script src="dist/components/vue/dist/vue.js"></script>
	<script src="dist/components/webgl-heatmap/webgl-heatmap.js"></script>
	<script src="dist/components/selectize/dist/js/standalone/selectize.js"></script>
</head>

<body>

<template id="app">
	<div class="container-fluid app-container">
		<div class="row app-main-row">
			<div class="col-xs-4 app-col-filters">
				<form id="eventForm">
					<fieldset v-bind:disabled="querying">
						<div class="form-group">
							<label for="sessionId">Session</label>

							<select class="form-control" id="sessionId" v-model="selectedSession">
								<option v-for="session in sessions" :value="session" :selected="$index == 0">
									{{session.title}} [{{session.level}} on {{session.game}}]
								</option>
							</select>
						</div>

						<div class="form-group">
							<label for="eventName">Event</label>

							<select class="form-control" id="eventName" v-model="selectedEvent">
								<option v-for="event in events" :value="event">{{event.name}}</option>
							</select>
						</div>

						<div class="form-group" v-if="selectedEvent">
							<label>Plot</label>

							<div class="radio" v-for="location in selectedEvent.locations">
								<label>
									<input type="radio" name="locationRadio" v-model="selectedLocation" :value="location" :checked="$index == 0">
									{{location | capitalize}}
								</label>
							</div>
						</div>

						<div class="form-group">
							<label for="intensity">Point intensity</label>
							<input type="text" class="form-control" id="intensity" value="0.4">
						</div>

						<label>{{filters.length | pluralize 'Entity property filter'}} ({{filters.length}})</label>

						<div class="filter form-group" v-for="filter in filters" :data-index="$index" track-by="id">
							<input type="text" class="form-control" v-model="filter.prop">

							<select class="form-control" v-model="filter.constraint">
								<option>=</option>
								<option>&ne;</option>
								<option>&lt;</option>
								<option>&le;</option>
								<option>&gt;</option>
								<option>&ge;</option>
							</select>

							<input type="text" class="form-control" v-model="filter.value">

							<button type="button" class="btn btn-danger" data-action="removeFilter">
								<span class="glyphicon glyphicon-minus-sign"></span>
							</button>
						</div>

						<div class="form-group clearfix">
							<button type="button" class="btn btn-default pull-right" data-action="addFilter">
								<span class="glyphicon glyphicon-filter"></span>
							</button>
						</div>

						<button type="submit" class="btn btn-success btn-lg btn-block">
							<template v-if="querying">
								<span class="loading-icon"></span>
							</template>
							<template v-else>
								<span class="glyphicon glyphicon-eye-open"></span>
								Visualise
							</template>
						</button>
					</fieldset>
				</form>
			</div>

			<div class="col-xs-8 app-col-visualisation">
				<div class="viscanvas-container">
					<canvas class="viscanvas"></canvas>
				</div>
			</div>
		</div>
	</div>
</template>

<script src="dist/js/app.js"></script>
</body>
</html>
